html, body{
   margin: 0;
   padding: 0;
}
main{
    padding: 80px;
    height: 100vh;
}
.contacts-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0px;
}
.contacts-image-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
img{
    height: 400px;
    width: 390x;
}

.contacts-images{
    display: flex;
}
h3{
    font-size: 30px;
    margin-left: 50px
    
}
h2{
     margin-left: 50px
}
.header{
    text-align: center;
}
.header{
    text-align: center;
    height: 50px;

}
        
