@font-face {
    font-family: 'RussoOne';
    src: url('/fonts/RussoOne-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Archivo Black';
    src: url('/fonts/ArchivoBlack-Regular.ttf') format('truetype');
}
:root {
    --normal-text-size: 15px;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

:root {
    --nav-background: linear-gradient(90deg, #8a0000 0%, var(--red) 40%, #c41111 100%);
}

.navigation-bar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 20px;

    padding: 10px 30px;
    background: linear-gradient(90deg, #8a0000 0%, #b10000 40%, #c41111 100%);

    border-bottom: 5px solid rgb(255, 187, 0);
}
.navigation-bar {
    flex-shrink: 0;
}

.back-button {

    padding: 12px 16px;

    background-color: #dc1212;
    border: none;
    border-radius: 15px;

    cursor: pointer;
}
.back-button img {
    width: auto;
    height: auto;
}

.service-name {
    padding: 0 10px;
    margin: 0;

    color: white;
    font-family: 'RussoOne';
    font-weight: lighter;

    font-size: 25px;
    line-height: 1.3;

    text-align: left;

    word-break: break-word;
}
.misc-info {
    display: flex;
    gap: 15px;

    color: white;
}
.document-name {
    font-size: 25px;
    font-family: 'RussoOne';
    font-weight: lighter;
}
.information-container {
    background-color: #8a0000;
    padding: 7px 9px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    width: 100px;
    border-radius: 10px;
    font-family: 'RussoOne';
}

.information-container h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
}

.information-container h3 {
    margin: 0;
    font-size: 13px;
    color: #e44545;
    letter-spacing: 0.05em;
}

.main-content {
    flex: 1;
    display: grid;
    grid-template-columns: 30% 1fr;
    background-color: #ecdede;
    overflow: hidden;
}

.document-info {
    grid-column: 1;

    background-color: white;

    padding: 5px 25px;

    font-size: 25px;
    font-family: 'Arial';
    font-weight: lighter;

    overflow-y: auto;
}
.process-info {
    grid-column: 2;

    overflow-y: auto;
}

.service-label {
    font-size: 13px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #aaa;
    margin-bottom: 10px;
    margin-top: 20px;
}

.service-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
}
#service-header {
    grid-column-start: 1;
    grid-column: span 2 / span 2;
}
#class-label {
    grid-row-start: 2;
}
#class-info {
    grid-row-start: 2;
    grid-column-start: 2;

    font-size: var(--normal-text-size);
    font-family: 'Archivo Black';
    font-weight: bold;
}
#type-label {
    grid-row-start: 3;
}
#type-info {
    grid-row-start: 3;
    grid-column-start: 2;

    font-size: var(--normal-text-size);
    font-family: 'Archivo Black';
    font-weight: bold;
}

.checklist-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.checklist-label {
    display: grid;
    grid-template-columns: 10% 1fr 40%;
    gap: 12px;

    border-bottom: 1px solid #aaa;
    text-align: center;
}
.checklist-container {
    display: flex;
    flex-direction: column;
}

.checklist {
    display: grid;
    grid-template-columns: 10% 1fr 40%;
    gap: 12px;
}
.requirement-number {
    grid-column-start: 1;
    color: red;
    font-size: var(--normal-text-size);
    font-weight: bold;
    font-family: 'Archivo Black';
}
.requirement-info {
    grid-column-start: 2;
    font-size: var(--normal-text-size);

    font-family: 'Archivo Black';
    font-weight: bold;
}
.requirement-source {
    grid-column-start: 3;
    font-size: var(--normal-text-size);

    font-family: 'Archivo Black';

}

.process-info {
    padding: 20px;

    font-size: 20px;
    font-family: 'RussoOne';
    font-weight: lighter;

    display: flex;
    flex-direction: column;
}
.process-container {
    display: flex;
    flex-direction: column;
}
.process-number {
    grid-column: 1;

    border-radius: 100%;
    background-color: black;
    color: white;

    font-family: 'RussoOne';
    font-size: var(--normal-text-size);

    padding: 10px;

    width: 15px;
    height: 15px;

    align-items: center;
    justify-items: center;

    text-align: center;
}
.process-info {
    grid-column: 2;
}
.dropdown-icon {
    grid-column: 3;
    width: 30px;
    height: auto;
}

.inner-process-info {
    
    display: grid;
    grid-template-columns: auto 1fr auto;

    align-items: center;

    cursor: pointer;
}
.inner-process {
    display: block;
}
.inner-process.show {
    display: none;
}
.process-collection {
    display: grid;
    grid-template-columns: 10% 1fr auto;

    font-size: 18px;
    width: 95%;

    gap: 10px;

    background-color: white;

    height: auto;

    align-items: center;
    justify-self: right;
    border-radius: 15px;
}
.process-num, .process-description, .other-info {padding: 10px;}
.process-num {
    grid-column: 1;
    font-size: var(--normal-text-size);

    background-color: #c41111;

    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px 0 0 15px;

    color: white;
}
.process-description {
    grid-column: 2;
    font-size: 15px;
}
.other-info {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    flex-grow: 0;

    text-align: left;

    font-size: 13px;

    padding: 0 20px 0 0;
    margin: 0;
}
.process-time {
    background-color: #c8a96e;
    padding: 5px;
    text-align: center;
}
.process-fee {
    background-color: #6de48033;
    padding: 5px;
    text-align: center;
}
.responsible {
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #aaa;
    margin-bottom: 10px;
    margin-top: 20px;
    word-break: break-word;
}
.other-info p:not(:first-child) {
    margin-top: -5px;
}