@font-face {
    font-family: 'Archivo Black';
    src: url('/fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

html, body {
    padding: 0;
    margin: 0;
    /* background-color: #8f0914; */
}
body {
    position: relative;
    margin: 0;
    padding: 20px;

    overflow-y: hidden;
}

body::before {
    content: "";
    position: fixed; /* better than absolute for full-page background */
    inset: 0;

    background:
        linear-gradient(rgba(143, 9, 20, 0.85), rgba(143, 9, 20, 0.85)),
        url('/assets/background/background_blur.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    z-index: -1;
}
main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto 1fr;

    align-items: center;
    /* gap: 8px; */

    /* padding: 30px; */
    padding: 0;
}
#web-header, .data-table {background-color: #aa0c19; border-radius: 20px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);}
#web-header {
    /* height: 80%; */
    background: linear-gradient(90deg, #8a0000 0%, #b10000 40%, #c41111 100%);
    border-radius: 10px;
    grid-column: span 5 / span 5;

    padding: 5px 20px 5px 20px;

    display: grid;
    grid-template-columns: 1fr auto;

    align-items: center;
}
h2 {
    font-size: 1.5em; 
    
    font-family: 'Archivo Black', sans-serif;
    color: white;

    height: 100%;

    align-content: center;
}
#web-header button {
    grid-column-start: 2;

    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;

    background: none;
    border: none;
}
#web-header button h3 {
    grid-column-start: 3;

    font-size: 17px;
    font-family: 'Archivo Black', sans-serif;
    color: white;

    margin-left: 10px;
}
#web-header button img {
    height: 40px;
    width: auto;
}
#filter-options {
    /* grid-column: span 2 / span 2; */
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column: span 2 / span 2;
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 20px;

    background: linear-gradient(90deg, #8a0000 0%, #b10000 40%, #c41111 100%);

    margin-top: 20px;
    border-radius: 20px;

    font-size: 17px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);

    color: white;

    font-family: 'Arial', sans-serif;

    justify-content: center;
}
select {
    padding: 10px;
    font-size: 0.7em;
    border-radius: 10px;
    border: none;
}
option {
    font-size: 0.7em;
}
input[type="radio"] {
  transform: scale(1.8); /* 1.5 times bigger */
}
label {
    font-size: 17px;

    font-family: 'Arial', sans-serif;
}


.data-table {
    background: linear-gradient(90deg, #8a0000 0%, #b10000 40%, #c41111 100%);
    grid-row-start: 3;
    grid-column: span 4 / span 4;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;

    height: 65vh;

    overflow-y: scroll;
}
.table-left {
    font-size: 17px;
    font-weight: bold;

    font-family: 'Archivo Black', sans-serif;

    width: 20%;

    align-content: center;
}
.table-left, .table-right {
    padding: 8px;

}
.table-right {
    padding: 10px;
    display: flex;
    flex-direction: row;

    align-items: center;

    flex: 1;

}
.data-row {
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    background-color: white;

    padding: 10px;
}
.bar-result {
    display: block;
    background: linear-gradient(90deg, #6de4b0 0%, #49c08c 20%, #8a0000 100%);
    height: 20px;
    width: 0%;
    transition: width 1s ease;
}
.number-result {
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    text-align: center;

    margin-left: 10px;
}
.data-table {
    display: flex;
    flex-direction: column;
    gap: 10px;

    transition: all 0.5s ease; /* optional for smooth spacing */
}
.data-row {
    transition: transform 1s ease; /* smooth movement */
}